/* App.css */

.App {
  text-align: center;
  padding: 20px; /* Add padding for better spacing */
}

h1 {
  font-size: 2rem; /* Increase font size for the heading */
  margin-bottom: 20px; /* Add margin for spacing below the heading */
}

select {
  font-size: 1rem; /* Increase font size for select dropdowns */
  margin-bottom: 10px; /* Add margin for spacing between select elements */
}

.line-share-button {
  display: inline-block;
  margin: 10px;
}

.line-icon {
  width: 50px;  /* アイコンのサイズ調整 */
  height: auto;
}

.dog-image {
  width: 100%; /* 画像の幅を親要素に合わせる */
  height: auto; /* 高さを自動調整してアスペクト比を保持 */
  max-width: 200px; /* 画像の最大幅を制限 */
  margin: 0 auto; /* 画像を中央揃え */
}

@media (min-width: 768px) {
  .dog-image {
    max-width: 100%; /* タブレットやデスクトップでは幅の制限を解除 */
  }
}

.sign-section img {
  display: block; /* 画像をブロック要素として表示 */
  margin: 10px auto; /* 画像を上下にマージンを設け、中央揃え */
}


button {
  font-size: 1rem; /* Increase font size for buttons */
  padding: 10px 20px; /* Add padding for better button appearance */
  background-color: #61dafb; /* Change button background color */
  color: white; /* Change button text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add border radius for rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Add transition effect for background color */
}

button:hover {
  background-color: #4aa9c7; /* Change button background color on hover */
}

.dog-image {
  max-width: 250px; /* Adjust the size as needed for your design */
  max-height: 250px;
  width: auto;
  height: auto;
}

.signs-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.sign-section {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.child-section {
  text-align: center;
  margin-top: 20px;
}


.error {
  color: red; /* Change error text color */
  margin-top: 10px; /* Add margin for spacing above error messages */
}

/* ボックスサイジングのグローバル適用 */
*, *::before, *::after {
  box-sizing: border-box;
}

/* ベーススタイル */
.App {
  padding: 10px; /* すべての端で少し余白を持たせる */
}

/* モバイル用のスタイリング */
@media (max-width: 768px) {
  .signs-section {
    flex-direction: column; /* スマホ表示では縦並びに変更 */
  }

  .sign-section {
    margin-bottom: 20px; /* セクション間に余白を追加 */
  }

  .dog-image {
    max-width: 100%; /* 画像の最大幅を親要素の100%に */
    height: auto; /* 高さ自動調整 */
  }
}

/* タブレット以上のスタイリング */
@media (min-width: 769px) {
  .signs-section {
    flex-direction: row; /* タブレット以上では横並びに */
  }
}
